<div class="site-header__inner container">

    <img src="{{ 'logo.svg' | asset_url }}" alt="Audiophile logo">

</div>

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "site-header",
    "limit": 1,
    "presets": [
        {
            "name": "Header"
        }
    ]
}
{% endschema %}