.main-collection{
    padding: 1.5rem;
}

.product > * + * {
    margin-top: 1.5rem;
}

.product{
    text-align: center;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 4rem;
}

.product h2 {
    color: black;
}

