.featured-products__grid {
    display: grid;
    gap: 2rem;
    padding: 1.5rem;
}

.featured-products__1 {
    text-align: center;
    color: white;
    padding: 4rem 1.5rem;
    border-radius: 8px;
    background: var(--raw-sienna);
    background-image: url(./pattern-circles.svg);
    background-size: 175%;
    background-repeat: no-repeat;
    background-position: center -70%;
}

.featured-products__1 > * + * {
    margin-top: 1.5rem;
}

.featured-products__1 img {
    margin: auto;
    margin-bottom: 3rem;
}