.home-collections {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.home-collection {
    text-decoration: none;
    color: black;
}

.home-collection__box {
    background: var(--seashell);
    border-radius: 8px;
    padding: 1.5rem;
    padding-top: 4.5rem;
    text-align: center;
}

.home-collection__image {
    display: block;
    margin: auto;
    margin-bottom: -5rem;
}

.home-collection__title {
    font-size: 15px;
}

.home-collection__btn {
    font-size: 13px;
    color: var(--black);
    opacity: .5;
}

.home-collection:hover .home-collection__btn {
    color: var(--raw-sienna);
}

@media screen and (min-width: 1200px) {
    .home-collections {
        grid-template-columns: repeat(3, 1fr);
        margin: 5rem auto;
    }
}