.home-about {
    padding: 1.5rem;
}

.home-about__copy {
    text-align: center;
    margin-top: 2rem;
}

.home-about__copy h2 {
    margin-bottom: 2rem;
}

.home-about img {
    border-radius: 8px;
}